<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Node Authentication</title>
    <!-- bootstrap josta saadaan suurin osa tyyleistä-->
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <!-- font-awesome josta saadaan fa-alkuiset tyylit-->
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <style>
      body {
        padding-top: 80px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>
        <p>Login or Register with:</p>
        <a href="/auth/google" class="btn btn-danger"
          ><span class="fa fa-google-plus"></span> Google</a
        >
      </div>
    </div>
    <div class="container">
      Jos tulet ensimmäistä kertaa sovellukseen ja painat "Login or Register
      with Google" -nappia, sinut ohjataan Googlen kirjautumiseen jossa kysytään
      Googlen tunnarit. Kirjaudut sovelluksen login-applikaatioon Googlen
      palvelimelle ja sinulle kerrotaan että login-applikaatio saa sinusta
      eräitä tietoja. Kun annat Googlen tunnarit, annat samalla sovellukselle
      oikeudet käyttää tunnistamiseesi jatkossa Googlen palvelua. Tämän jälkeen
      loggautuminen sovellukseen voi tapahtua ainostaan yhdellä napin
      painalluksella ja tunnareita ei enää kysytä mikäli Google-kirjautumisesi
      on voimassa.
    </div>
  </body>
</html>
